ul {
  padding: 0 1em;
}

p {
  line-height: 1.5;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    text-decoration: underline;
  }

  &:focus {
    outline: black dashed 2px;
    outline-offset: 2px;
  }
}

blockquote {
  border-left: solid 2px #4a4a4a;
  color: #4a4a4a;
  margin: 0;
  padding: 0 0 0 1em;

  p {
    font-style: italic;
  }
}

details {
  margin: 0 0 1em;

  summary {
    cursor: pointer;
    line-height: 1.5;
  }
}

hr {
  background-color: $teal;
  border: none;
  height: 2px;
  margin: 1em -0.5em;
}
