$teal: #36acb8;
$blue: #10a2f5;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

@media screen and (max-width: 600px) {
  body {
    margin: auto;
  }

  main {
    padding: 0 0.5em;
  }
}

@import "base";

@import "templates/header";
