header {
  border: solid 2px $teal;
  border-radius: 2px;
  color: black;
  display: flex;
  margin: 0 -0.5em;

  p {
    background-color: $teal;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em 1rem 0.5em 0.5em;
  }

  nav {
    align-items: center;
    display: flex;
    padding: 0.5em 1em;

    ul {
      display: flex;
      gap: 1em;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    a {
      color: inherit;
    }

    li a::before {
      content: "/";
      display: inline;
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}
