<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mM0W7PjPwAFVQKb2/3d3wAAAABJRU5ErkJggg==">

  <title>vallode-com</title>

  <!-- Inlining critical styles. -->
  <style>html{font-family:"DejaVu Sans",Geneva,Verdana,sans-serif}body{margin:1em auto;max-width:70ch;width:calc(100%-1em)}</style>

  <!-- Simple blocking-style defering -->
  <link rel="stylesheet" href="/style.css" media="print" onload="this.media='all'; this.onload=null;">
  <noscript><link href="/style.css" rel="stylesheet" /></noscript>
</head>
<body>
  {% include "header.html" %}

  <main>
    {% block content %} {% endblock %}
  </main>
</body>
</html>
