{% extends "base.html" %} {% block content %} {{ section.content | safe }}

<hr />

<footer>
  <p>I'm currently reading <strong>{{config.extra.currently_reading}}</strong></p>
</footer>

{% endblock content %}
