{% extends "base.html" %} {% block content %}

<h1>{{page.title}}</h1>

{{ page.content | safe }}

<hr />

<details>
  <summary>Metadata</summary>
  
  <ul>
    <li><p>Updated: {{ page.updated }}</p></li>
    <li><p>Created: {{ page.date }}</p></li>
    <li><p>Word count: {{ page.word_count }}</p></li>
  </ul>
</details>

{% endblock content %}
